<!-- <div *ngIf="!isLoading; else loadingTemplate">
  <div *ngIf="authService.currentUserSignal(); else homeTemplate">
    <router-outlet name="dashboard" />
  </div>
  <ng-template #homeTemplate>
    <router-outlet name="home" />
  </ng-template>
</div>

<ng-template #loadingTemplate>
  <div class="h-screen flex justify-center items-center">
    <hlm-spinner size="xl" />
  </div>
</ng-template> -->

@if (authService.currentUserSignal()) {
<router-outlet name="dashboard" />
} @else {
<router-outlet name="home" />
}
